:root {
    --cor-padrao: rgb(239, 247, 89);
    --fonte-padrao: Arial, sans-serif;
    --cor-botao: #007bff;
    --cor-rodape: #f1f1f1;
    --cor-border: black;
}

* {
    margin: 0% ;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  background-color: var(--cor-padrao);
  margin-bottom: 5%;
}

.slogan {
  text-align: center;
}

.logo {
  width: 20%;
}

.logo img {
  width: 100%;
}

.link {
  width: 50%;
  justify-content: center;
  text-align: center;
  border: var(--cor-border) solid 1px;
  border-radius: 5px;
  padding: 5%;
  font-size: small;
  background-color: black;
}

.link a {
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

.linkForm {
  width: 100%;
  justify-content: center;
  text-align: center;
  border: var(--cor-border) solid 1px;
  border-radius: 5px;
  padding: 20%;
  font-size: small;
  background-color: black;
}

.linkForm a {
  color: white;
  text-decoration: none;
  transition: 0.2s;
}

nav {
  display: flex;
  gap: 10px;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 8px 14px;
  border-radius: 6px;
  transition: 0.2s;
}

nav div:hover {
  background: #9ca04e;
}

main {
  padding: 2%;
}

footer {
  padding: 2%;
  background-color: var(--cor-rodape);
  border-top: 1px solid #ccc;
  margin-top: 3%;
  margin-bottom: 0px;
}

.contatos {
  margin-top: 3%;
  text-align: right;
}

.copy {
  text-align: center;
  color: #333;
}

.sobre {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 5%;
}

.sobre p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.secaoVideo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 20%;
}

.video {
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.video iframe {
  width: 80%;
}
